.container-footer {
  padding: 20px;
  color: white;
  background-color: brown;
}

.logo {
  margin: -20px;
}

.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.request {
  font-style: italic;
}
