.navbar-brand {
  padding: 0;
  margin: -23px;
  margin-left: -26px;
}

.navbar {
  background-image: url("../chemistry-navbar.jpeg");
}

.nav-link {
  font-weight: 700;
  text-align: center;
}

.nav-item:hover {
  background-color: turquoise;
  opacity: 0.7;
}
