.navbar {
  background-color: black;
}

.nav-item {
  background-color: black;
  font-size: 20px;
}

.nav-item a {
  color: white;
}
.nav-item a:hover {
  color: red;
}

button.navbar-toggler {
  /* background-color: white; */
  border: white solid;
}
